<%-include('./layout/header.ejs') %>
    <section>
      <div>
        <h1>Odin&apos;s Messenger</h1>
        <p>Welcome</p>
      </div>
      <section>
        
      </section>
      <a href="/newmessage">
        create a new message
      </a>
    </section>
<%-include('./layout/footer.ejs') %>
