<%-include("./layout/header.ejs") %>

<h1>Add an Item to Category</h1>
<form action="/addItem" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <img src="/images/placeHolder.jpg" alt="cover image" id="itemImage">
    <p for="itemImage" id="itemButton">Upload Item Image</p>
    <input type="file" name="itemImage" class="form-control" id="itemInput" aria-describedby="emailHelp">
    <h2>please select an image</h2>
  </div>
    <div class="form-group">
      <label for="itemName">Item Name</label>
      <input type="text" name="name" class="form-control" id="exampleInputEmail1 itemName" aria-describedby="emailHelp">
      <small id="nameErr" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="itemDescri">Description</label>
      <textarea cols="30" rows="10" type="text" class="form-control" id="desc" name="desc"></textarea>
      <small id="descErr" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Options</label>
            </div>
            <select class="custom-select" name="category" id="inputGroupSelect01 category">
              <option selected>Choose...</option>
              <%categories.forEach(category => {%>
                <option value=<%= category.name %>><%= category.name %></option>
              <%})%>
            </select>
          </div>
        <small id="descErr" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="itemprice">Price</label>
        <input type="number" name="price" class="form-control" id="itemprice" aria-describedby="price">
        <small id="itempriceErr" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="noInStock">Set Quantity</label>
        <input type="number" name="numberInStock" class="form-control" id="noInStock" aria-describedby="quantity">
        <small id="noInStock" class="form-text text-muted"></small>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<%-include("./layout/footer.ejs") %>